body {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    gap: 100px;
}
.container {
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.container button {
    height: 100px;
    width: 100px;
}

#result {
    text-align: center;
}